<div id="modal" class="hide">
  <div class="content">
    <div class="header">
      <h1>Pontos de coleta</h1>
      <a href="#">Fechar</a>
    </div>

    <form action="/search">
      <label for="search">Cidade</label>
      <div class="search field">
        <input
          type="text"
          name="search"
          placeholder="Pesquise por cidade"
        />
        <button>
          <img src="/assets/search.svg" alt="Buscar" />
        </button>
      </div>

      <!-- <div class="field-group">
        <label for="city">Cidade</label>
        <input type="text" name="search" placeholder="Informe a cidade" />
      </div>
      <div class="field-group">
        <label for="city">Estado</label>
        <input type="text" name="search" placeholder="Informe o estado" />
      </div>
      <button>
        <p>Buscar</p>
        <span></span>
        <img src="/assets/search.svg" alt="Buscar" />
      </button> -->
    </form>
  </div>
</div>