:root {
  --title-color: #322153;
  --primary-color: #34cb79;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu, sans-serif;
  color: var(--title-color);
}

a {
  text-decoration: none;
}

#page-home {
  height: 100vh;
  background: url('../assets/home-background.svg') no-repeat;
  background-position: 35vw bottom;
}

#page-home .content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

#page-home header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

#page-home header a {
  display: flex;
  font-weight: 700;
  color: var(--title-color);
}

#page-home header a span {
  display: flex;
  width: 20px;
  height: 20px;
  background-image: url('../assets/log-in.svg');
  margin-right: 16px;
}

#page-home main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  max-width: 560px;
}

#page-home main h1 {
  font-size: 54px;
}

#page-home main p {
  font-size: 24px;
  line-height: 38px;
  margin-top: 24px;
}

#page-home main a {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 360px;
  height: 72px;
  border-radius: 8px;
  background: var(--primary-color);
  transition: 400ms;
  margin-top: 40px;
}

#page-home main a:hover {
  background-color: #2fb86e;
}

#page-home main a span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgba(0, 0, 0, 0.08);
}

#page-home main a span::after {
  content: '';
  background-image: url('../assets/search.svg');
  width: 20px;
  height: 20px;
}

#page-home main a strong {
  flex: 1;
  text-align: center;
  color: #fff;
}

@media (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home header a {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
  }

  #page-home main {
    align-items: center;
  }
}

@media (max-height: 675px) {
  #page-home header {
    justify-content: center;
    flex-direction: column;
  }

  #page-home header a {
    margin-top: 30px;
    position: static;
    transform: none;
  }
}

@media (max-height: 749px) {
  #page-home {
    height: calc(100vh + (750px - 100vh));
    height: -moz-calc(100vh + (750px - 100vh));
    height: -webkit-calc(100vh + (750px - 100vh));
  }
}
